.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 30px 16px;
  background-color: var(--background-paper, #ffffff);
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.profile-card-username {
  text-align: center;
  padding: 10px 0;
}

.profile-card-email {
  text-align: center;
  word-break: break-all;
  padding: 10px 0;
}

.profile-card-divider {
  width: 100%;
  margin: 4px 0;
  padding: 10px 0;
}

.profile-card-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding: 20px 0;
  padding: 10px 0;
}

.profile-card-btn {
  margin-top: 2px;
  border-radius: 8px !important;
  text-transform: none !important;
  background-color: var(--mui-palette-background-default) !important;
  color: var(--mui-palette-text-primary) !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  padding: 10px 0;
}

.profile-card-btn:hover {
  background-color: rgb(234, 233, 233) !important;
  box-shadow: none !important;
}
