.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  background-color: var(--background-default);
  gap: 16px;
  padding-inline: 5%;

  > * {
    padding: 30px 10px;
  }
}

.home-sidebar {
  position: sticky;
  top: var(--navbar-height);
  align-self: start;
}
