.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  background-color: var(--background-default, #f5f5f5);
  gap: 16px;
  padding-inline: 5vw;

  > * {
    padding: 30px 10px;
  }
}

.home-sidebar {
  /* left / right column — 1/4 of screen each */
}

.home-main {
  /* center column — 1/2 of screen */
}
